build/*
install/*
log/*
site/*
.devcontainer/ex
src/*
!src/ros2.repos

delete.devcontainer/

ZED_SDK_Linux_Ubuntu20.run

test_listener.bash

zed2_files

scripts/zed2_run.bash

zed2.log

scripts/git_credentials_timeout.txt

delete_tmp_modules/
